/* --------------- CONTAINER MAIN --------------- */
.container-main{
    position: absolute;
    width: 95%;
    height: 80vh;
    z-index: 5;
    top: 15%;
    left: 2.5%;
    justify-content: space-between;
}

.menu-container-main{
    width: 20%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #495057;
    padding: 5px;
    border-radius: 1rem;
}

.info-paciente{
    flex-direction: column;
    align-items: center;
}

.info-paciente img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-paciente p:first-of-type{
    color: #fff;
    margin: .5rem 0;
    font-size: 20px;
    font-weight: bold;
}

.info-paciente p:last-of-type{
    color: #fff;
    font-size: 16px;
}

.items{
    width: 30%;
    /*height: 50%;*/
    height: 200px;
    background-color: #030419;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* .fa-solid{
    width: 60px;
    height: 60px;
    color: white;
} */

/* .calendario{
    width: 60px;
    height: 60px;
} */

.none{
    display: none;
}

.consultas-paciente{
    width: 100%;
    /* height: 100%; */
    margin-left: 3rem;
    background-color: #DCDCDC;
    border-radius: 1rem;
    padding: 2rem;
    flex-direction: column; 
    justify-content: start;
}

#form_cuenta{
   margin: 0;
   justify-content: space-between;
   width: 95%;
   /* height: 100%; */
   line-height: 3rem;
}

#form_cuenta div{
   display: flex;
   justify-content: space-around;
   line-height: 3rem;
   height: auto ;
}

#form_cuenta div:nth-child(2){
   width: 70%;
}

#form_cuenta div:nth-child(3){
   width: 50vw;
}

#form_cuenta input{
   width: 100%;
   height: 3rem;
   border: none;
   border-bottom: 1px solid rgb(121, 121, 121);
   background: #DCDCDC;
   padding: 0;
   margin: 0;
   font-size: 1.2rem;
}

#configuracion_cuenta {
   /* display: block; */
   /* height: 100%; */
   overflow-x: hidden;
   overflow-y: auto;
}

.consultas-paciente > h2{
    font-weight: bold;
    /* padding-bottom: 1rem;
    margin-bottom: 2rem; */
}

.consultas{
    width: 100%;
    height: 100%;

    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;

    overflow-x: hidden;
    overflow-y: auto;
}

/* ==== CONSULTAS PACIENTE SCROLLBAR ==== */
.consultas::-webkit-scrollbar {
    width: 8px;               
}
  
.consultas::-webkit-scrollbar-track {      
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem ;
}
  
.consultas::-webkit-scrollbar-thumb {
    background-color: #030419;    
    border-radius: 20px;  
}
/*  ------------------------------------- */

/* ==== CONFIGURACION CUENTA SCROLLBAR ==== */
.container-item::-webkit-scrollbar {
    width: 8px;               
}
  
.container-item::-webkit-scrollbar-track {      
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem ;
}
  
.container-item::-webkit-scrollbar-thumb {
    background-color: #030419;    
    border-radius: 20px;  
}
/*  ------------------------------------- */

.carta-consulta{
    width: 420px;
    height: 200px;
    padding: .5rem;
    background-color: #fff;
    border-radius: 1rem;
    margin: 0 1.1rem 1.1rem 0
}

.carta-consulta img{
    border-radius: 1rem;
    margin-right: 1rem;
}

.info-carta-consulta{
    flex-direction: column;
    justify-content: space-between;
}

.btn-ir-cons{
    width: 150px;
    height: 30px;
    color: #fff;
    border-radius: .5rem;
    border-style: none;
    background-color: #030419;
}

.btn-ir-cons:hover{
    color: #000;
    background-color: #90BEDE;
}

/* --------------- CONTAINER MAIN (FIN) --------------- */

/* BACKGROUND */
.background {
    height: 100vh;
    width: 100%;
    position: fixed;
    /*VER*/
    z-index: 1;
}