/* --------------- CONTAINER MAIN --------------- */
.container-main{
    position: absolute;
    width: 95%;
    height: 80vh;
    z-index: 5;
    top: 15%;
    left: 2.5%;
    justify-content: space-between;
}

.menu-container-main{
    width: 20%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #495057;
    padding: 5px;
    border-radius: 1rem;
}

.info-paciente{
    flex-direction: column;
    align-items: center;
}

.info-paciente img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.info-paciente p:first-of-type{
    color: #fff;
    margin: .5rem 0;
    font-size: 20px;
    font-weight: bold;
}

.info-paciente p:last-of-type{
    color: #fff;
    font-size: 16px;
}

.items{
    width: 30%;
    height: 200px;
    background-color: #030419;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.none{
    display: none;
}


#form_cuenta{
   margin: 0;
   justify-content: space-between;
   width: 95%;
   line-height: 3rem;
}

#form_cuenta div{
   display: flex;
   justify-content: space-around;
   line-height: 3rem;
   height: auto ;
}

#form_cuenta div:nth-child(2){
   width: 70%;
}

#form_cuenta div:nth-child(3){
   width: 50vw;
}

#form_cuenta input{
   width: 100%;
   height: 3rem;
   border: none;
   border-bottom: 1px solid rgb(121, 121, 121);
   background: #DCDCDC;
   padding: 0;
   margin: 0;
   font-size: 1.2rem;
}

#configuracion_cuenta {
   overflow-x: hidden;
   overflow-y: auto;
}

.container-item{
    width: 79%;
    height: 100%;
}

/* -------------------- CONTAINER RECETA -------------------- */
.receta{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

.headerR{
    width: 100%;
    justify-content: space-between;
}

.headerR > img{
    width: 350px;
}

.separacion{
    width: 100%;
    height: 5px;
    margin: 20px 0 20px 0;
    background-color: #030419;
}

.bodyR{
    width: 100%;
}

.bodyR p{
    margin-bottom: 15px;
}

.infoGeneral{
    justify-content: space-between;
}

#prescripcion{
    width: 100%;
    /* height: 100%; */
}

.footerR{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footerR > img{
    width: 300px;
}

.imgFirma{
    width: 100px;
    height: 100px;
    background-color: #030419;
    
}

.btnUser {
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: #030419;
    letter-spacing: .1rem;
    border-radius: .3rem;
    padding: 15px 0 15px 0;
    width: 30%;
    color: white;
}

.btnUser a {
    color: white;
    font-size: 18px;
}

.btnUser:hover {
    background-color: #495057;
    cursor: pointer;
}
/* --------------- CONTAINER CONSULTAS / RECETAS ------------------- */
.container_cons_rec{
    width: 100%;
    height: 100%;
    
    justify-content: space-between;
}

.container_consultas{
    width: 70%;
    height: 100%;

    padding: 1rem;
    border-radius: 1rem;
    background-color: #DCDCDC;

    overflow-x: hidden;
    overflow-y: auto;
}

/* ==== CONSULTAS PACIENTE SCROLLBAR ==== */
.container_consultas::-webkit-scrollbar {
    width: 8px;            
}
  
.container_consultas::-webkit-scrollbar-thumb {
    background-color: #030419;    
    border-radius: 20px;  
}
/*  ------------------------------------- */

.container_consultas > p{
    font-size: 20px;
    font-weight: bold;
}

.consultas{
    padding: 1rem 0;
    
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.carta_consulta{
    width: 350px;
    height: 150px;

    margin: 0 1rem 1rem 0;

    border-radius: 1rem;
    background-color: #FFF;
}

.carta_consulta img{
    border-radius: 1rem;
}

.info-carta-consulta{
    flex-direction: column;

    justify-content: space-between;
    padding: 1rem;
}

.btn-ir-cons,
.btn-ir-rec{
    background-color: #030419;
    color: #FFF;
    border-radius: .5rem;
    border: none;
}

.btn-ir-cons:hover,
.btn-ir-rec:hover{
    background-color: #90BEDE;
}

.container_recetas{
    width: 29%;
    height: 100%;

    padding: 1rem;
    border-radius: 1rem;
    background-color: #DCDCDC;

    overflow-x: hidden;
    overflow-y: auto;
}

.container_recetas > p{
    font-size: 20px;
    font-weight: bold;
}

/* ==== CONSULTAS PACIENTE SCROLLBAR ==== */
.container_recetas::-webkit-scrollbar {
    width: 8px;            
}
  
.container_recetas::-webkit-scrollbar-thumb {
    background-color: #030419;    
    border-radius: 20px;  
}
/*  ------------------------------------- */

.recetas_paciente{
    width: 35%;
    background-color: #DCDCDC;
}

.recetas{
    padding: 1rem 0;
}

.carta_receta{
    width: 100%;
    height: auto;

    margin-bottom: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #FFF;
}

.carta_receta img{
    width: 100px;
}

.info-carta-receta{
    padding-left: 1rem;
    flex-direction: column;
    justify-content: space-between;
}


/* ----------------------------------------------------------------- */

/* ------------------------- INFO PACIENTE ------------------------ */
.informacion_paciente{
    width: 100%;
    height: 100%;

    background-color: #DCDCDC;
    border-radius: 1rem;
    padding: 1rem;

    flex-direction: column;
}

#idSexo > input{
    width: 1rem;
    height: 1rem;
}

.informacion_paciente > p{
    font-size: 30px;
    font-weight: bold;
}

/* ==== IFNO PACIENTE SCROLLBAR ==== */
.informacion_paciente::-webkit-scrollbar {
    width: 8px;            
}
  
.informacion_paciente::-webkit-scrollbar-thumb {
    background-color: #030419;    
    border-radius: 20px;  
}
/*  ------------------------------------- */

.btn-guardar{
    width: 250px;
    padding: .5rem 0;
    background-color: #030419;
    color: #FFF;
    border-radius: .5rem;
    border: none;
}

.btn-guardar:hover{
    background-color: #90BEDE;
}
/* ----------------------------------------------------------------- */

/* --------------- CONTAINER MAIN (FIN) --------------- */

/* BACKGROUND */
.background {
    height: 100vh;
    width: 100%;
    position: fixed;
    /*VER*/
    z-index: 1;
}