@charset "UTF-8";
/* Importamos las fuentes */
@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/* Colores de la pagina */
.--whitebg {
  background-color: #FFFFFF;
  color: #030419;
}

.--blackbg {
  background-color: #030419;
  color: #FFFFFF;
}

.--bluebg {
  background-color: #3DBEFF;
  color: #FFFFFF;
}

/* Declaracion de fuentes, tamaños de fuentes, altura de linea y configuracion de tipografia */
body {
  min-height: 100vh;
  font-size: 100%;
  color: #030419;
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cardo, serif;
  color: #030419;
  line-height: 1.4em;
  font-weight: bold;
}

h1 {
  font-size: 7rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h4, h5 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p, span {
  font-size: 1.2rem;
}

/* Reset de estilos*/
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  object-fit: cover;
  /* opcional */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::selection {
  background-color: black;
  color: white;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  /* opcional */
  appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Botones */
.btn {
  height: 50px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
}

/* Estilos de la pagina */

.header {
  height: 100vh;
  background-image: url(/recursos/img/background-inicio.png);
  position: relative;
}
.header .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 6vh;
  margin: 0 1.5rem;
}
.header .nav img {
  min-width: 5%;
  max-width: 5%;
  margin: 0 0.5rem;
}
.header .nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0;
}
.header .nav__mobile__links {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #FFFFFF;
}
.header .nav__mobile__link {
  margin: 1rem 0rem;
  font-size: 2rem;
}
.header .nav__close {
  display: none;
  position: absolute;
  left: 87%;
  top: 1.86%;
  height: 2%;
}
.header .nav__web__links {
  display: none;
}

@media screen and (min-width: 1328px) {
  .header {
    height: 100vh;
    background-image: url(/public/assets/img/home/cover.png);
    position: relative;
  }
  .header .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    margin: 0 5rem;
  }
  .header .nav__web__link {
    margin: 0 0.5rem;
    color: #FFFFFF;
  }
  .header .nav__open {
    display: none;
  }
  .header .nav__web__links {
    display: flex;
  }
}
.card {
  position: relative;
  margin-bottom: 2rem;
}
.card__img {
  border-radius: 15px;
}
.card__overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 15px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  backdrop-filter: blur(5px);
}
.card__overlay__title {
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
.card__overlay__text {
  color: #FFFFFF;
  text-align: center;
  font-weight: 200;
}
.card__overlay:hover {
  opacity: 1;
}

.hero {
  height: 94vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title {
  font-size: 2.7rem;
  text-align: center;
  color: #FFFFFF;
}
.hero__text {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
}

.home__section2 {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home__section3 {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}
.home__section3__title {
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.home__section4 {
  margin: 3rem 0;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__section4__left {
  margin-bottom: 3rem;
}

.home__section5 {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.home__section5__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin: 0 1rem;
  padding: 0 2rem;
  border-radius: 10px;
}
.home__section5__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
  margin: 0 1rem;
  padding: 0 2rem;
  border-radius: 10px;
}
.home__section5 h3 {
  font-size: 2.2rem;
  color: #FFFFFF;
}

.footer {
  height: 45vh;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
}
.footer__right {
  font-size: 1.2rem;
  text-align: left;
}

@media screen and (min-width: 1328px) {
  .hero {
    height: 94vh;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__title {
    font-size: 5rem;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__text {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
  }
  .hero__btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home__section2 {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__section3 {
    height: 50vh;
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home__section3__title {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .home__section4 {
    padding: 0 8rem;
    height: 80vh;
    margin: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home__section4__left {
    height: 80vh;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .home__section4__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 80vh;
  }

  .home__section5 {
    padding: 0 5rem;
    margin: 5rem 0;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .home__section5__left {
    height: 50vh;
    padding: 0 8rem;
    margin-right: 4rem;
  }
  .home__section5__right {
    height: 50vh;
    padding: 0 8rem;
  }
  .home__section5 h3 {
    font-size: 2.2rem;
    color: #FFFFFF;
  }

  .footer {
    height: 20vh;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer__right {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1328px) {
  .hero {
    height: 94vh;
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero__title {
    font-size: 5rem;
    text-align: center;
    color: #FFFFFF;
  }
  .hero__text {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
  }
  .hero__btns {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home__section2 {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home__section3 {
    height: 50vh;
    padding: 0 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home__section3__title {
    font-size: 5rem;
    margin-bottom: 1rem;
  }

  .home__section4 {
    padding: 0 8rem;
    height: 80vh;
    margin: 8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .home__section4__left {
    height: 80vh;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .home__section4__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 80vh;
  }

  .home__section5 {
    padding: 0 5rem;
    margin: 5rem 0;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .home__section5__left {
    height: 50vh;
    padding: 0 8rem;
    margin-right: 4rem;
  }
  .home__section5__right {
    height: 50vh;
    padding: 0 8rem;
  }
  .home__section5 h3 {
    font-size: 2.2rem;
    color: #FFFFFF;
  }

  .footer {
    height: 20vh;
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer__right {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    font-size: 1.2rem;
  }
}