:root {
  --Primary-blue: #1a26ff;
  --Black-blue: #030419;
  --Gray: #495057;
  --White: #ffffff;
  --Text: #000000;
}

header {
  width: 100%;
  height: 8vh;
  padding: 0 7rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.__logo img {
  margin-right: 0.5rem;
}

.__menu ul {
  display: flex;
  flex-direction: row;
}

.__menu li {
  margin-right: 1.5rem;
}

.header-bottom {
  color: #fff;
  width: 100%;
  height: 25%;
  background-color: #060a25;
  position: absolute;
  top: 90%;
  z-index: 1;
}

.header-bottom :first-child {
  color: #fff;
  text-align: center;
  position: relative;
  top: 40%;
}

.container {
  max-width: 1000px;
  /* flex: 1; */
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;

}

/*----------------------- parte del juanma ---------------------------------*/
h4 {
  color: #fff;
}

.main {
  width: 100vw;
  height: 60vh;
  margin: 0px;
}

.overlay {
  width: 100vw;
  height: 50vh;
  min-height: 60rem;
  margin: 0px;
  position: absolute;
  background: rgb(0, 0, 10, 0.475);
}

.navigation_div {
  display: flex;
  flex-direction: row;
  height: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  height: 3.125rem;
  width: 20rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

video {
  position: absolute;
  display: flex;

  height: 130vh;
  width: 100vw;
  margin: 0px;
  left: 50%;
  transform: translateX(-50%) translateY(-20%);
  z-index: -1;
}

.titulo {
  width: 100%;
  /* height: 10vh; */
  line-height: 1;
  position: absolute;
  margin-top: 17vh;
  text-align: center;
}

/* Inicio de sesion*/
.background-login {
  background-image: url("/recursos/img/background-inicio.png");
  background-size: cover;
  height: 100vh;
}

.container-login {
  height: 80vh;
  padding-top: 8rem;
}

.container__line {
  margin: 0 8.5rem;
}

.container__left h4,
.container__rigth h4 {
  margin-bottom: 2rem;
}

.container__left span {
  text-align: center;
  padding-top: 0.5rem;
}

.botones {
  height: fit-content;
  width: 100%;
  margin-top: 5rem;
  text-align: center;
}

h1 {
  /* font-size: 60px; */
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;
}

h3 {
  /* font-size: 20px; */
  font-weight: 900;
  color: #fff;
  margin-bottom: 30px;
}

.header-bottom {
  width: 100%;
  height: 25vh;
  margin: 0px;
  background-color: #060A25;
  position: absolute;
  top: 90%;
  z-index: 1;
  transform: translateY(-90%);
}

.form input {
  width: 446px;
  height: 48px;
  left: 738px;
  top: 697px;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

/* Interfaz patient*/
.background-patient {
  background-image: url("/recursos/img/background-interfaz-paciente.png");
  background-size: cover;
  height: 100vh;
}

.container-patient {
  height: 80vh;
}

.container-patient__left {
  background-color: #7c7e80;
  margin: 0 2rem;
  width: 17%;
}

.container-patient__left__text {
  padding-bottom: 3rem;
}

.container-patient__left__text img {
  width: 70%;
  margin-bottom: 0.7rem;
}

.container-patient__left__text span {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

.container-patient__left__iconos {
  background-color: #030419;
  padding: 1rem 0.5rem;
}

.container-patient__left__iconos img {
  padding-top: 1rem;
  width: 35%;
}

.container-patient__rigth {
  background-color: #ffffff;
  width: 77%;
  padding-left: 4rem;
}

.container-patient__rigth h2 {
  padding-bottom: 1rem;
}