.container-patient__left__iconos div {
   text-align: center;
}

h2{
   margin-bottom: 3rem;
}

/* #img_cuenta {} */
.imgRedonda{
   border-radius: 50%;
   border: 1px solid #ccc;
   margin-top: 10px;
   margin-bottom: 10px;
}

#configuracion_cuenta {
   display: block;
   height: 100%;
   overflow: scroll;
}

#configuracion_cuenta h2{
   margin: 0;
   margin-top: 2rem;
}

#form_cuenta{
   margin: 0;
   justify-content: space-between;
   width: 90%;
   height: 100%;
   line-height: 3rem;
}

#form_cuenta div{
   display: flex;
   justify-content: space-around;
   line-height: 3rem;
   height: auto ;
}

#form_cuenta div:nth-child(2){
   width: 30vw;
}

#form_cuenta input{
   width: 100%;
   height: 3rem;
   border: none;
   border-bottom: 1px solid rgb(171, 171, 171);
   /* background: rgb(149, 149, 149); */
   padding: 0;
   margin: 0;
   font-size: 1.2rem;
}