<<<<<<< HEAD
.container-patient__left__iconos div {
   text-align: center;
}

h2{
   margin-bottom: 3rem;
}

/* #img_cuenta {} */
.imgRedonda{
   border-radius: 50%;
   border: 1px solid #ccc;
   margin-top: 10px;
   margin-bottom: 10px;
}

#configuracion_cuenta {
   display: block;
}

#form_cuenta{
   margin: 0;
   justify-content: space-between;
   width: 90%;
   line-height: 3rem;
}

#form_cuenta div{
   display: flex;
   justify-content: space-around;
   line-height: 3rem;
   height: auto ;
}

#form_cuenta div:nth-child(2){
   width: 30vw;
}

#form_cuenta input{
   width: 100%;
   height: 3rem;
   border: none;
   border-bottom: 1px solid rgb(171, 171, 171);
   padding: 0;
   margin: 0;
   font-size: 1.2rem;
=======
/* Interfaz patient*/
.background-patient {
  background-image: url("/recursos/img/background-interfaz-paciente.png");
  background-size: cover;
  height: 100vh;
}

.container-patient {
  height: 80vh;
}

.container-patient__left {
  background-color: #7c7e80;
  margin: 0 2rem;
  width: 17%;
}

.container-patient__left__text {
  padding-bottom: 3rem;
}

.container-patient__left__text img {
  width: 70%;
  margin-bottom: 0.7rem;
}

.container-patient__left__text span {
  padding-top: 0.5rem;
  font-size: 0.8rem;
}

.container-patient__left__iconos {
  background-color: #030419;
  padding: 1rem 0.5rem;
}

.container-patient__left__iconos img {
  padding-top: 1rem;
  width: 35%;
}

.container-patient__rigth {
  background-color: #ffffff;
  width: 77%;
  padding-left: 4rem;
}

.container-patient__rigth h2 {
  padding-bottom: 1rem;
}

.form-paciente {
  margin-top: 2rem;
}

.labels {
  margin-right: 5rem;
  margin-top: 0.5rem;
}

.labels span {
  margin-bottom: 1.6rem;
  font-size: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.inputs input {
  width: 20rem;
  height: 1.5rem;
  margin-bottom: 1rem;
>>>>>>> elroro
}