.none{
    display: none;
}

.centrarImagen{
    text-align: center;
}

/* --------------- CONTAINER MAIN --------------- */
.container-main{
    position: absolute;
    width: 95%;
    height: 80vh;
    z-index: 5;
    top: 15%;
    left: 2.5%;
    justify-content: space-between;
}

.menu-container-main{
    width: 10%;
    justify-content: center;
    align-items: center;
    background-color: #495057;
    padding: 5px;
    border-radius: 1rem;
}

.items{
    width: 90%;
    /*height: 50%;*/
    height: auto;
    background-color: #030419;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-solid{
    width: 60px;
    height: 60px;
    color: white;
}

.calendario{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.container-item{
    width: 88%;
    border-radius: 1rem;
    justify-content: space-between;
}

.calendar{
    width: 63%;
    height: 100%;
    background-color: rgb(248, 253, 255);
    border-radius: 1rem;
}

.consultas{
    width: 35%;
    height: 100%;
    background-color: #030419;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;
}

/*---------------------SCROLLBAR CONSULTAS----------------------*/
.consultas::-webkit-scrollbar {
    width: 12px;               
}
  
.consultas::-webkit-scrollbar-track {
    background: #030419;        
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem ;
}
  
.consultas::-webkit-scrollbar-thumb {
    background-color: #90BEDE;    
    border-radius: 20px;       
    border: 3px solid #030419;  
}
/*--------------------------------------------------------------*/

.consultas > p{
    color: white;
    font-size:30px;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;/*Uasar fuente correcta*/
}

.card{
    width: 60%;
    height: 250px;
    background-color: #90BEDE;
    padding: 20px;
    border-radius: 1rem;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card p{
    color: #030419;
    font-size: 25px;
}

.btnInicia{
    width: 80%;
    height: 50px;
    background-color: #030419;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
}

.btnInicia a{
    font-size: 20px;
}

.btnInicia:hover {
    background-color: #495057;
    cursor: pointer;
}


/* --------------- CONTAINER INFO ACCOUNT --------------- */


.info-account{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 20px 0;

    overflow-x: hidden;
    overflow-y: auto;
}

.info-account::-webkit-scrollbar {
    width: 12px;               
}
  
.info-account::-webkit-scrollbar-track {
    background: #fff;        
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem ;
}
  
.info-account::-webkit-scrollbar-thumb {
    background-color: #030419;    
    border-radius: 15px;     
}

.info-account p{
    margin: 0 0 10px 0;
}

.info-account p:first-child{
    font-size: 30px;
    font-weight: bold;
}

.info-account input{
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.info-account input:not(input[type="radio"], input[type="number"], input[type="date"], input[class="dia-semana"]){
    width: 415px;
    height: 40px;
}

.info-account input[type="date"]{
    width: 215px;
}

.info-account input[type="number"]{
    width: 100px;
}

.info-account > input[type="number"]{
    width: 415px;
}

.info-account img{
    border-radius: 50%;
    margin-bottom: 2rem;
}

.textArea textarea{
    font-family: "Poppins", sans-serif;
    width: 415px;
    height: 150px;
    margin-bottom: 20px;
}

input::placeholder, textarea::placeholder {
    font-family: "Poppins", sans-serif;
    letter-spacing: .1rem;
    padding-left: 20px;
}

input[class="dia-semana"]{
    width: 200px;
}

.btnUser {
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background-color: #030419;
    letter-spacing: .1rem;
    border-radius: .3rem;
    padding: 15px 0 15px 0;
    width: 415px;
}

.btnUser a {
    color: white;
    font-size: 18px;
}

.btnUser:hover {
    background-color: #495057;
    cursor: pointer;
}

/* -------------------- CONTAINER RECETA -------------------- */
.receta{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    flex-direction: column;

    overflow-x: hidden;
    overflow-y: auto;
}

/*-------------- SCROLL --------------*/

.receta::-webkit-scrollbar {
    width: 12px;               
}
  
.receta::-webkit-scrollbar-track {
    background: #fff;        
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem ;
}
  
.receta::-webkit-scrollbar-thumb {
    background-color: #030419;    
    border-radius: 15px;     
}
/*-------------------------------------*/

.headerR{
    width: 100%;
    justify-content: space-between;
}

.headerR > img{
    width: 350px;
}

.separacion{
    width: 100%;
    height: 5px;
    margin: 20px 0 20px 0;
    background-color: #030419;
}

.bodyR{
    width: 100%;
}

.bodyR p{
    margin-bottom: 15px;
}

.infoGeneral{
    justify-content: space-between;
}

#prescripcion{
    width: 100%;
    /* height: 100%; */
}

.footerR{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footerR > img{
    width: 300px;
}

.imgFirma{
    width: 100px;
    height: 100px;
    background-color: #030419;
    
}



/* ------------------------------------------------------- */

/* --------------- CONTAINER MAIN (FIN) --------------- */

/* BACKGROUND */
.background {
    height: 100vh;
    width: 100%;
    position: fixed;
    /*VER*/
    z-index: 1;
}

