/* --------------- CONTAINER MAIN --------------- */
.container-main{
    position: absolute;
    width: 95%;
    height: 80vh;
    z-index: 5;
    top: 15%;
    left: 2.5%;
    justify-content: space-between;
}

.menu-container-main{
    width: 10%;
    justify-content: center;
    align-items: center;
    background-color: #495057;
    padding: 5px;
    border-radius: 1rem;
}

.items{
    width: 90%;
    height: 50%;
    background-color: #030419;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-item{
    width: 88%;
    border-radius: 1rem;
    justify-content: space-between;
}

.calendar{
    width: 63%;
    height: 100%;
    background-color: rgb(248, 253, 255);
    border-radius: 1rem;
}

.consultas{
    width: 35%;
    height: 100%;
    background-color: #030419;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;

    overflow-x: hidden;
    overflow-y: auto;
}

/*---------------------SCROLLBAR CONSULTAS----------------------*/
.consultas::-webkit-scrollbar {
    width: 12px;               
}
  
.consultas::-webkit-scrollbar-track {
    background: #030419;        
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem ;
}
  
.consultas::-webkit-scrollbar-thumb {
    background-color: #90BEDE;    
    border-radius: 20px;       
    border: 3px solid #030419;  
}
/*--------------------------------------------------------------*/

.consultas > p{
    color: white;
    font-size:30px;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;/*Uasar fuente correcta*/
}

.card{
    width: 60%;
    height: 250px;
    background-color: #90BEDE;
    padding: 20px;
    border-radius: 1rem;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card p{
    color: #030419;
    font-size: 25px;
}

.btnInicia{
    width: 80%;
    height: 50px;
    background-color: #030419;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
}

.btnInicia a{
    font-size: 20px;
}

/* --------------- CONTAINER MAIN (FIN) --------------- */

/* BACKGROUND */
.background {
    height: 100vh;
    width: 100%;
    position: fixed;
    /*VER*/
    z-index: 1;
}