/* NAVBAR CSS */
.nav {
  border-bottom: 1px solid #D0D3DA;
  height: clamp(1.75rem, 1.1458rem + 2.6852vw, 3.5625rem);
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
}
.nav__mobile {
  display: none;
}
.nav__brand {
  padding-left: clamp(1.875rem, 0.3333rem + 6.8519vw, 6.5rem);
}
.nav__brand__text {
  font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
  font-family: "MediumLc", san-serif;
  font-weight: bold;
}
.nav__web__links {
  font-size: clamp(0.875rem, 0.8333rem + 0.1852vw, 1rem);
  padding-right: clamp(1.875rem, -0.8333rem + 12.037vw, 10rem);
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
.nav__web__link1, .nav__web__link2 {
  margin-right: 1.5rem;
}
.nav__lines, .nav__linesX {
  display: none;
}

/* TERMINA NAVBAR CSS */
.searchbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
}
.searchbar__title {
  font-size: 2rem;
  padding: 0 2rem;
}
.searchbar__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
.searchbar__form__input {
  padding-left: 1rem;
  width: clamp(10rem, 1.7136rem + 21.7349vw, 21.275rem);
  height: 2rem;
  background-color: #ffffff;
  color: #000000;
  border-color: #ECEDF0;
}
.searchbar__form__button {
  width: clamp(6rem, 3.0602rem + 7.7108vw, 10rem);
  height: 2.65rem;
  border-color: #ECEDF0;
  margin: 0;
  padding: 0;
  border-color: #ECEDF0;
  background-color: #1A27C9;
  color: #ffffff;
}

.results {
  padding: 0 clamp(1.875rem, 0.3333rem + 6.8519vw, 6.5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
}
.results__cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 4rem;
}
.results__cards__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 27rem;
  border: 2px solid #000000;
}
.results__cards__items__img {
  border-radius: 50%;
  max-width: 150px;
}
.results__cards__items__name {
  font-size: 2rem;
}
.results__cards__items__btn {
  height: clamp(2.375rem, 1.7292rem + 2.8704vw, 4.3125rem);
  width: clamp(12rem, 9.0602rem + 7.7108vw, 16rem);
  display: grid;
  place-items: center;
  margin-top: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  background-color: #1A27C9;
  color: white;
}
.results__card {
  height: 414px;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 60% 40%;
  grid-template-areas: "top calendar" "bottom calendar";
}
.results__card__top {
  grid-area: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  padding-left: 2rem;
}
.results__card__top__left__img {
  background-color: #000000;
  width: 147px;
  height: 147px;
  border-radius: 50%;
}
.results__card__top__right {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.results__card__top__right__name {
  font-size: 40px;
}
.results__card__top__right__especialidad, .results__card__top__right__reviews {
  font-size: 20px;
}
.results__card__bottom {
  grid-area: bottom;
}
.results__card__calendar {
  grid-area: calendar;
}
.results__btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(26, 39, 201, 0.95);
  transition: opacity 500ms;

}
.results__btn__items {
  border: 5px solid #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #000000;
  background-color: #ffffff;
  padding: 0 clamp(2rem, 1.6909rem + 1.4545vw, 3rem);
  height: 70vh;
  width: clamp(20rem, 7.6364rem + 58.1818vw, 60rem);
}
.results__btn__items__img {
  max-width: 15rem;
  border-radius: 50%;
}
.results__btn__items__name {
  font-size: clamp(2.2rem, 1.9527rem + 1.1636vw, 3rem);
  font-weight: bold;
  text-align: center;
}
.results__btn__items__esp {
  font-size: clamp(1.2rem, 1.1073rem + 0.4364vw, 1.5rem);
}
.results__btn__items__btn {
  height: clamp(2.375rem, 1.7292rem + 2.8704vw, 4.3125rem);
  width: clamp(12rem, 9.0602rem + 7.7108vw, 16rem);
  display: grid;
  place-items: center;
  margin-top: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  background-color: #1A27C9;
  color: white;
}
.results__btn__items__linesX {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  position: fixed;
  top: 40px;
  right: 52px;
}
.results__btn__items__linesX__1 {
  width: 2rem;
  height: 0.125rem;
  background-color: #ffffff;
  transform: translate3d(0px, 2px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
}
.results__btn__items__linesX__2 {
  width: 2rem;
  height: 0.125rem;
  background-color: #ffffff;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
}

.results__btn__items__fecha{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
}

.results__btn__items__fecha select{
    border: 2px solid #000000;
    width: 5rem;
    height: 2rem;
    padding-left: 1rem;
}

@media screen and (max-width: 610px) {
  .nav {
    grid-template-columns: 82% 20%;
  }
  .nav__web {
    display: none;
  }
  .nav__mobile {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background: #1A27C9;
  }
  .nav__mobile__links {
    font-size: 2rem;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }
  .nav__lines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
  }
  .nav__lines__1 {
    max-width: 1.5rem;
    height: 0.125rem;
    margin-bottom: 0.27rem;
    background-color: #000000;
  }
  .nav__lines__2 {
    max-width: 1rem;
    height: 0.125rem;
    background-color: #000000;
  }
  .nav__linesX {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    position: fixed;
    top: 14px;
    right: 52px;
  }
  .nav__linesX__1 {
    width: 1rem;
    height: 0.125rem;
    background-color: #ffffff;
    transform: translate3d(0px, 2px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(45deg) skew(0deg, 0deg);
  }
  .nav__linesX__2 {
    width: 1rem;
    height: 0.125rem;
    background-color: #ffffff;
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-45deg) skew(0deg, 0deg);
  }

  .searchbar__form {
    flex-direction: column;
  }
  .searchbar__form__input {
    width: clamp(15rem, 3.6667rem + 53.3333vw, 24rem);
  }
  .searchbar__form__button {
    width: clamp(16.5rem, 5.1667rem + 53.3333vw, 25.5rem);
  }

  .results__cards {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  }
}